@charset("UTF-8");
* {
    font-family: "BIZ UDPMincho", serif;
}
#clock {
    font-size: 10rem;
    font-weight: bold;
    letter-spacing: .1rem;

    color: #fefefe;
    text-align: center;
    vertical-align: middle;
    /* padding: 0 1rem; */
    height: 65vh;
    /* display: flex; */
}
#date {
    font-size: 4.5rem;
    font-weight: bold;
    letter-spacing: .1rem;

    color: #ababec;
    text-align: center;
    height: 15vh;
    /* display: flex; */
}
body {
    background-color: #000001;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
main {
    width: 100%;
}
#full-scr {
    text-align: right;
    margin: 1rem;
    height: 10vh;
}
#full-scr-btn {
    padding: .5rem;
    /*角丸ボタンにする*/
    border-radius: 1mm;
    background-color: #707071;
}
